* {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(
    circle,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
h1 {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  font-size: 80px;
}
.cal {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 35%;
  height: fit-content;
  margin-left: 30%;
  margin-right: 30%;
  border: 4px ridge black;
  background: rgba(255, 255, 255, 0.338);
  border-radius: 20px;
}
.cal h3 {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.first_row,
.second_row,
.third_row,
.fourth_row,
.fivfth_row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 6px;
}
.first_row input {
  background-color: rgba(0, 0, 0, 0.603);
  margin-right: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  width: 215px;
  height: 40px;
  margin-left: 10px;
  border: 2px solid white;
  resize: none;
}
.num_1,
.num_2,
.num_3,
.ope_add,
.num_4,
.num_5,
.num_6,
.ope_sub,
.num_7,
.num_8,
.num_9,
.ope_mul,
.ope_div,
.num_0,
.dec_poi,
.ope_cal,
.clear_btn {
  font-size: 20px;
  color: white;
  width: 60px;
  height: 50px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.603);
}
.source_link {
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  margin-left: 47%;
  margin-top: 50px;
  font-size: 20px;
}
.source_link a {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 428px) and (max-height: 926px) {
  .cal {
    margin-left: 4%;
    padding: 20px;
    width: 75%;
    height: fit-content;
  }
  h1 {
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .source_link {
    margin-left: 33%;
  }
  .first_row input {
    width: 135px;
  }
  .cal h3{
    font-size: 20px;
    margin-bottom: 1px;
  }
  .source_link{
  margin-left: 30%;
    margin-top: 20px;
  }
}
