body {
  background-image: radial-gradient(
    circle,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-repeat: no-repeat;
  height: 100vh;
}
h1 {
  color: white;
  text-align: center;
  margin-bottom: 70px;
  font-size: 50px;
}
.cal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.338);
  border-radius: 20px;
}
.first_row {
  display: flex;
  justify-content: center;
}
.first_row textarea {
  background-color: rgba(0, 0, 0, 0.603);
  margin-right: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  width: 190px;
  border: 2px solid white;
  resize: none;
}

.clear_btn {
  background-color: rgba(0, 0, 0, 0.603);
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
}
.submit_btn {
  background-color: rgba(0, 0, 0, 0.603);
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  width: 45px;
}
.second_row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 6px;
}
.num_1,.num_2,.num_3,.num_4{
  font-size: 20px;
  color:white;
  width: 60px;
  height: 50px;
  margin-right:12px ;
  margin-left: 12px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.603);

}

